!tests/data/**/*.out
!tests/data/**/*.csv
!tests/tests-cli/*

# Build artifacts
/build/
*.o
*.a
*.out
*.exe

# Editor / IDE
.vscode/
.idea/
*.code-workspace

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Logs
*.log

# Generated test outputs
/tests/tests-cli/stash.*
